<body>
  <div id="luxy">
  
    <%#ヘッダー--------------------------------------%>
    <header id="header">
      <h1>NOZOMI HASEI</h1>

      <%#メニューバー---------------------------------%>
      <div class="openbtn1"><span></span><span></span><span></span></div>
        <nav id="g-nav">
          <div id="g-nav-list">
            <h1>NOZOMI HASEI</h1>
              <ul>
                <li><%= link_to 'TOP', contents_path %></li>
                <li><%= link_to "ABOUT", :anchor => 'about' %></li>
                <li><%= link_to "ORIGINAL APP", { anchor: "skill" } %></li>
                <li><%= link_to "ACHIEVMENT" %></li>
                <li><%= link_to 'PHOTO' %></li>
                <li><%= link_to 'CONTACT' %></li>
              </ul>
          </div>
        </nav>
      <div class="circle-bg"></div>
      

      <%#ヘッダー移動イベント-----------------------------%>
      <script>
        function FixedAnime() {   
          var headerH = $('#header').outerHeight(true);
          var scroll = $(window).scrollTop();
          if (scroll >= headerH){
              $('#header').addClass('fixed');
            }else{
              $('#header').removeClass('fixed');
            }
        };
        $('#g-navi a').click(function () {
          var elmHash = $(this).attr('href');
          var pos = Math.round($(elmHash).offset().top-120);
          $('body,html').animate({scrollTop: pos}, 500);
          return false;
        });
        $(window).scroll(function () {
          FixedAnime();
        });
        $(window).on('load', function () {
          FixedAnime();
        });
      </script>

      <%#メニューバーイベント------------------------------%>
      <script>
        $(".openbtn1").click(function () {
          $(this).toggleClass('active');
            $("#g-nav").toggleClass('panelactive');
            $(".circle-bg").toggleClass('circleactive');
        });

        $("#g-nav a").click(function () {
          $(".openbtn1").removeClass('active');
            $("#g-nav").removeClass('panelactive');
            $(".circle-bg").removeClass('circleactive');
        });
      </script>
    </header>

    <%#topスタート----------------------------------------%>
    <div class="img-wrap1">
      <div class="top-photo"><img src="/assets/IMG_5918 4.JPG" alt=""></div>
    </div>
    <div class="img-wrap2">
      <div class="top-photo"><img src="/assets/IMG_5918 3.jpg" alt=""></div>
    </div>

    <%#ABOUTスタート--------------------------------------%>
    <div class="wrap" id="about">
      <h1>ABOUT</h1>
    </div>
    <div id="luxy">
      <section class="area">
        <div class="luxy-el" data-speed-x="5" data-offset="5"><img src="/assets/IMG_5920.JPG" alt="">
          <div class="box luxy-el" data-speed-y="5">
            <h2>長谷井 望</h2>
            <hr>
              <p>1999年9月2日生まれ、岡山県出身</p>
              <p>父親の仕事の関係で、学生時代は転勤が多く日本の様々な場所で生活をしてきました。（岡山県、広島県、京都府、千葉県、東京都）</p>
              <p>歳を重ねるにつれてこのような経験が出来たことに感謝しています。同じ時間を過ごした人とのつながりはかけがえのないものであり、私自身の強みです。<p> 
              <p>自分自身の特徴は、冷静に物事を判断出来る点、そこから導き出した事に対しての行動力が誇れる点です
              <p>岡山学芸館高等学校：強化部活動のサッカー部にて心身を鍛え、勉強との両立に励む。</p>
              <p>駒澤大学 法学部：ゼミにて取調べの可視化や外国人の人権を学び、議論を行なった。</p>
          </div>
        </div>
        <script>
          window.onscroll = function(){
            var scrollTop = window.pageYOffset ;
            if (scrollTop > 900 ) { 
              $('.area').css('background-color', 'white');
              $('.area').css('transition', '8.3s')
            }
            if (scrollTop < 1400 ) { 
              $('.area').css('background-color', 'white');
              $('.area').css('transition', '5.5s')
            }
          }
        </script>
      </section>

      <section class="area">
        <div class="luxy-el"data-speed-x="5" data-offset="5"><img src="/assets/Workplace-with-laptop-994210.jpg" alt="">
          <div class="box luxy-el" data-speed-y="5">
            <h2>プログラミング</h2>
            <hr>
              <b><p><span class="line">プログラミングに興味を持ったキッカケ</span></p></b>
              <p>アパレル業界にて高級紳士服の販売業務やSNS・百貨店EC運営業務を担当する中で、WEBアプリケーションに触れる機会が増えました。</p>
              <p>『どうすればより使いよすくなるか』『どうすればお客様の興味関心を引くことが出来るのか』などサービスを提供する側の視点になったことが、プログラミングに興味を持ったキッカケです。</p>
              <b><p><span class="line">プログラミングの学習</span></p></b>
              <p>プロゲートや参考本を活用した勉強から開始し、実際に現場に出た時の質問方法やコードの書き方だけではなくアプリ
              の制作工程を仕事の合間時間を活用し出来るスクール（テックキャンプ）を選びました。</p>
              <p>プログラミング学習はプログラマーになるための学習であると考えていたが、エラーが起きれば必ずプログラムが動かず、解決するための確認・修正の作業はどんな業務にも通ずる点で、学習
              を通して問題解決する意識や力を伸ばすことも出来たと感じる。</P>
          </div>
        </div>
      </section>

      <section class="area">
        <div class="luxy-el"data-speed-x="5" data-offset="5"><img src="/assets/nozomi.png" alt="">
          <div class="box luxy-el" data-speed-y="5">
            <h2>セールスパーソン</h2>
            <hr>
              <p>株式会社 リングヂャケット （2016年〜）</p>
              <p>所属部署：ストアセールス１新宿店</p>
              <p>学生時代にイタリアのフィレンツェで開催されている世界最大のファッション見本市 "Pitti Imagine Uomo" に参加したことが、アパレル業界、株式会社リングヂャケットで働くキッカケとなりました。</p>
              <p>イタリアナポリの職人文化と日本人の体型に合わせた自社生産のハンドメイドスーツやジャケットの販売業務を行なっています。</p>
              <p>SNS担当(Instagram/YouTube）として写真や動画コンテンツの制作業務、また百貨店EC担当として商品出展業務も行なっています。</p>
              <p>2~3ヶ月に１度、店舗代表者として全社会議へ参加、ご紹介カード利用促進、購買導線の明確化などの提案を行い事業貢献しています。</p>
              <P><p>
          </div>
        </div>
      </section>
        
      <section class="area">
        <div class="luxy-el" data-speed-x="5" data-offset="5"><img src="/assets/IMG_0549.JPG" alt="">
          <div class="box luxy-el" data-speed-y="5">
            <h2>フォトグラファー & 動画クリエイター</h2>
            <hr>
              <p>現職での業務体験が写真や動画に対する熱量を高める大きなキッカケとなりました。</p>
              <p>写真：現職では自社製品の商品撮影、スタッフのスナップ撮影などを行い、個人では同業他社様の宣材写真の撮影、パーソナルセラピスト様のH宣材写真の撮影を経験。</p>
              <p>動画：現職ではブランドアカウントに投稿するYouTubeの企画・撮影・編集まで一貫して担当、百貨店HPへのイベント告知動画などの制作を経験。</p>
              <p>プライベートでも旅行などで撮影を行い、思い出に残すのが好きです。</p>
          </div>
        </div>
      </section>

    <%#ORIGINAL APPスタート--------------------------------------%>
      <h1>ORIGINAL APP</h1>
        <div class="app-box1">
          <div class="app-box2">
            <a href="https://ringjacket.herokuapp.com/"><img src="/assets/RINGJACKET.jpg" alt=""></a>
          </div>
          <div class="app-word">
            <div class="app-word1">
              <h3>アプリ概要</h3>
              <h4>アプリ名：RING JACKET お客様ご紹介アプリ</h4>
              <p>制作日数：約２週間</p>
            </div>
            <div class="app-word1">
              <h3>制作の背景</h3>
              <p>現職にて”新規獲得”という課題に対する施策の一貫として、紙媒体でのお客様ご紹介カードを非接触にて活用出来ないかと考えたのが開発のキッカケです。</p>
              <p>SNSやメッセージアプリなどで手
            </div>
          </div>
          <div class="app-word">
            <div class="app-word1">
              <h3>こだわりの機能</h3>
              <p>ユーザー登録機能にて、会員登録からログインを行わないとアプリを使用できない</p>
            </div>
            <div class="app-word1">
              <h3>言語&技術一覧</h3>
              <p>バックエンド：Ruby / Ruby on rails </p>
              <p>フロントエンド：HTNL5 / CSS3 / JavaScript / jquery</p>
            </div>
          </div>
        </div>



    <%#SKILLスタート--------------------------------------%>
    <div class="skill-wrap">
      <h1>SKILL</h1>
    </div>
        <div class="skill-box">
          <div class="skill-in">
          </div>
        </div>

        <div class="skill-box">
          <div class="skill-in">
          </div>
        </div>





    <%#PHOTOスタート--------------------------------------%>
  <div class="photo-wrap">
    <h1>PHOTO</h1>
  </div>
    <div class="wrapper">
      <ul class="gallery">
        <li><a href="/assets/IMG_5887.JPG" data-lightbox="gallery1" data-title="Sanson Terrace(Sakuho Town, Minamisaku District, Nagano Prefecture)/山村テラス(長野県南佐久郡佐久穂町)"><img src="assets/IMG_5887.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_5128 3.JPG" data-lightbox="gallery1" data-title="By the window on a rainy day/雨の日の窓際"><img src="/assets/IMG_5128 3.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_5775.JPG" data-lightbox="gallery1" data-title="Antique lighting/アンティーク照明"><img src="/assets/IMG_5775.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_5416.JPG" data-lightbox="gallery1" data-title="the SOHO(Koto-ku, Tokyo)/ソーホー(東京都江東区)"><img src="/assets/IMG_5416.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_5298.JPG" data-lightbox="gallery1" data-title="Painting/絵画"><img src="/assets/IMG_5298.JPG" alt=""></a></li>
        <li><a href="/assets/8EF8AAF0-2E28-4AAD-BA8A-44C183885289.JPG" data-lightbox="gallery1" data-title="Friend snap"><img src="/assets/8EF8AAF0-2E28-4AAD-BA8A-44C183885289.JPG" alt=""></a></li>
        <li><a href="/assets/24A41748-69B1-487C-9AA6-EFB337AA9C16.JPG" data-lightbox="gallery1" data-title="Fantastic snow scene"><img src="/assets/24A41748-69B1-487C-9AA6-EFB337AA9C16.JPG" alt=""></a></li>
        <li><a href="/assets/8C11AA29-E579-4D7B-B866-B7C80E852F46.JPG" data-lightbox="gallery1" data-title="Friend snap"><img src="/assets/8C11AA29-E579-4D7B-B866-B7C80E852F46.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_5288.JPG" data-lightbox="gallery1" data-title="ShibuyaScramble Crossing(Shibuya-ku, Tokyo)/渋谷スクランブル交差点(東京都渋谷区)"><img src="/assets/IMG_5288.JPG" alt=""></a></li>
        <li><a href="/assets/IMG_6456 2.jpg" data-lightbox="gallery1" data-title="Champagne"><img src="/assets/IMG_6456 2.jpg" alt=""></a></li>
        <li><a href="/assets/IMG_6501.jpg" data-lightbox="gallery1" data-title="Another Energy Exhibition @ Mori Arts Center"><img src="/assets/IMG_6501.jpg" alt=""></a></li>
        <li><a href="/assets/CC8CB225-2574-45C9-9FE5-7F0F1A68DC07.JPG" data-lightbox="gallery2" data-title="Glass and sunshine"><img src="/assets/CC8CB225-2574-45C9-9FE5-7F0F1A68DC07.JPG" alt=""></a></li>
      </ul>
    </div>
    <script>
    //lightbox オプションの設定※https://lokeshdhakar.com/projects/lightbox2/#options参照
    
    lightbox.option({
      'wrapAround': true,//グループ最後の写真の矢印をクリックしたらグループ最初の写真に戻る
      'albumLabel': ' %1 / total %2 '//合計枚数中現在何枚目かというキャプションの見せ方を変更できる
    })
    
    //ふわっと見せるためのJS。3-5-3 ページが読み込まれたらすぐに動かしたい&画面をスクロールをしたら動かしたい場合内のソースコード使用
    
    function fadeAnime(){
    // flipLeft
    $('.gallery li').each(function(){ 
        var elemPos = $(this).offset().top;
        var scroll = $(window).scrollTop();
        var windowHeight = $(window).height();
        if (scroll >= elemPos - windowHeight){
            $(this).addClass('flipLeft');
        }else{
            $(this).removeClass('flipLeft');
        }
    });
    }
  
      $(window).scroll(function (){
        fadeAnime();/
      });
  
      $(window).on('load', function(){
        fadeAnime();/
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.10.0/js/lightbox.min.js"></script>
    
    <%#CONTACTスタート--------------------------------------%>
    <div class="contact-wrap">
      <h1>CONTACT FORM</h1>
    </div>
    <%= form_with model: @content, url: contents_path,local: true, method: :post do |form| %>
      <div class="contact">
        <%= form.text_field :company, placeholder: "COMPANY", class:'form-company' %>
      </div>
      <div class="contact">
        <%= form.text_field :name, placeholder: "NAME", class:'form-name' %>
      </div>
      <div class="contact">
        <%= form.text_field :e_mail, placeholder: "E-MAIL", class:'form-e-mail' %>
      </div>
      <div class="contact">
        <%= form.text_area :message, placeholder: "MESSAGE", class:'form-message' %>
      </div>
      <div class="contact" id="contact-ward">
        <p>*お返事させていただくまでに、お時間を要する場合がございます。</p>
      </div>
      <div class="contact">
        <%= form.submit "SEND", class: 'form-submit'  %>
      </div>
    <% end %>

    <%#フッター---------------------------------------------%>
    <footer>
      <div class="footer-area">
        Copyright Portfolio by nozomi hasei (2022)
      </div>
    </footer>
  </div>

  <script>
(function(root, factory) {
	'use strict';

	if (typeof define === 'function' && define.amd) {
		// AMD. Register as an anonymous module.
		define([], factory);
	}
	else if (typeof exports === 'object') {
		// COMMONJS
		module.exports = factory();
	}
	else {
		// BROWSER
		root.luxy = factory();
	}
}(this, function() {

	'use strict';
	
		var defaults = {
			wrapper: '#luxy',
			targets : '.luxy-el',
			wrapperSpeed: 0.08,
			targetSpeed: 0.02,
			targetPercentage: 0.1
		};

 		var requestAnimationFrame = 
			window.requestAnimationFrame || window.mozRequestAnimationFrame ||
			window.webkitRequestAnimationFrame || window.msRequestAnimationFrame;
			window.requestAnimationFrame = requestAnimationFrame;
		var cancelAnimationFrame = window.cancelAnimationFrame || window.mozCancelAnimationFrame;

		/**
		 * Merge two or more objects. Returns a new object.
		 * @param {Object}   objects  The objects to merge together
		 * @returns {Object}          Merged values of defaults and options
		 */
		var extend = function () {

			// Variables
			var extended = {};
			var deep = false;
			var i = 0;
			var length = arguments.length;

			// Merge the object into the extended object
			var merge = function (obj) {
				for (var prop in obj) {
					if (obj.hasOwnProperty(prop)) {
						extended[prop] = obj[prop];
					}
				}
			};

			// Loop through each object and conduct a merge
			for ( ; i < length; i++ ) {
				var obj = arguments[i];
				merge(obj);
			}

			return extended;

		};

		var Luxy = function(){
			this.Targets = [];
			this.TargetsLength = 0;
			this.wrapper = '';
			this.windowHeight = 0;
			this.wapperOffset = 0;
		};
		Luxy.prototype = {
			isAnimate: false,
			isResize : false,
			scrollId: "",
			resizeId: "",
			init : function(options){
				this.settings = extend(defaults, options || {});
				this.wrapper = document.querySelector(this.settings.wrapper);

				if(this.wrapper==="undefined"){
					return false;
				}
				this.targets = document.querySelectorAll(this.settings.targets);
				document.body.style.height = this.wrapper.clientHeight + 'px';

				this.windowHeight = window.clientHeight;
				this.attachEvent();
				this.apply(this.targets,this.wrapper);
				this.animate();
				this.resize();
			},
			apply : function(targets,wrapper){
				this.wrapperInit();
				
				this.targetsLength = targets.length;
				for (var i = 0; i < this.targetsLength; i++) {
					var attr = {
						offset : targets[i].getAttribute('data-offset'),
						speedX : targets[i].getAttribute('data-speed-x'),
						speedY : targets[i].getAttribute('data-speed-Y'),
						percentage : targets[i].getAttribute('data-percentage'),
						horizontal : targets[i].getAttribute('data-horizontal')
					};
					this.targetsInit(targets[i],attr);
				}
			},
			wrapperInit: function(){
				this.wrapper.style.width = '100%';
				this.wrapper.style.position = 'fixed';
			},
			targetsInit: function(elm,attr){
				
				this.Targets.push({
					elm : elm,
					offset : attr.offset ? attr.offset : 0,
					horizontal : attr.horizontal ? attr.horizontal : 0,
					top : 0,
					left : 0,
					speedX : attr.speedX ? attr.speedX : 1,
					speedY : attr.speedY ? attr.speedY : 1,
					percentage :attr.percentage ? attr.percentage : 0
				});
			},
			scroll : function(){
				var scrollTopTmp = document.documentElement.scrollTop || document.body.scrollTop;
				this.scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
				var offsetBottom = this.scrollTop + this.windowHeight;
				this.wrapperUpdate(this.scrollTop);
				for (var i = 0; i < this.Targets.length; i++) {
					this.targetsUpdate(this.Targets[i]);
				}
			},
			animate : function(){
				this.scroll();
				this.scrollId = requestAnimationFrame(this.animate.bind(this));
			},
			wrapperUpdate : function(){
				
				this.wapperOffset += (this.scrollTop - this.wapperOffset) * this.settings.wrapperSpeed;
				this.wrapper.style.transform = 'translate3d(' + 0 + ',' +  Math.round(-this.wapperOffset* 100) / 100 + 'px ,' + 0 + ')';
			},
			targetsUpdate : function(target){
				target.top += (this.scrollTop * Number(this.settings.targetSpeed) * Number(target.speedY) - target.top) * this.settings.targetPercentage;
				target.left += (this.scrollTop * Number(this.settings.targetSpeed) * Number(target.speedX) - target.left) * this.settings.targetPercentage;
				var targetOffsetTop = ( parseInt(target.percentage) - target.top - parseInt(target.offset) );
				var offsetY = Math.round(targetOffsetTop * -100) / 100;
				var offsetX = 0;
				if(target.horizontal){
					var targetOffsetLeft = ( parseInt(target.percentage) - target.left - parseInt(target.offset) );
					offsetX = Math.round(targetOffsetLeft * -100) / 100;
				}
				target.elm.style.transform = 'translate3d(' + offsetX + 'px ,' + offsetY + 'px ,' + 0 +')';
			},
			resize: function(){
				var self = this;
				self.windowHeight = (window.innerHeight || document.documentElement.clientHeight || 0);
				if( parseInt(self.wrapper.clientHeight) != parseInt(document.body.style.height)){
					document.body.style.height = self.wrapper.clientHeight + 'px';
				}
				self.resizeId = requestAnimationFrame(self.resize.bind(self));
			},
			attachEvent : function(){
				var self = this;
				window.addEventListener('resize',function(){
					if(!self.isResize){
						cancelAnimationFrame(self.resizeId);
						cancelAnimationFrame(self.scrollId);
						self.isResize = true;
						setTimeout(function(){
							self.isResize = false;
							self.resizeId = requestAnimationFrame(self.resize.bind(self));
							self.scrollId = requestAnimationFrame(self.animate.bind(self));
						},200);
					}
				});
				
			}
		};

		
		var luxy = new Luxy();

		return luxy;
	})
);
  </script>

  <script>
    if(matchMedia('(min-width: 768px)').matches){
      luxy.init();
     } 
  </script>

</body>